.carousel-caption{
    color:black;
}
.footer{
    background-color:#2B0A07;
    color:aliceblue;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
}
.scrolls{
    background-color: #fbe9d7;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}
.navbar{
    background-color: #eebea5;
}

.fs-1, .morado{
    color: #eca356;
}

.fs-3{
    color:#f69da3;
    background-color: red;
    border-radius: 2rem;
}

.btn1{
  background-color: #a8e9ee;
  
  color:#2B0A07;
}

.btn1:hover {
    background-color: #2B0A07;
    color: white;
}

.card{
    background-color: #f1b87b;
    margin-top: 1rem;
}

.containerd {
    margin-top: 20px;
}

.carta {
    margin: 10px;
    padding: 20px;
}

.contacto-card {
    padding: 20px;
}

.Contactos label {
    display: block;
    margin-top: 10px;
}

.Contactos input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}


textarea.limited-textarea {
    width: 100%;         
    max-width: 100%;     
    height: 200px;       
    max-height: 150px;   
    resize: none;        
}

.btn-cancel{
    background-color: #a8e9ee;
    color:#2B0A07;
}

.btn-cancel:hover{
    background-color: #eca356;
    color: aliceblue;
}

/* Ajustes responsivos */
@media (max-width: 767px) {
    .card {
        width: 100%;
    }
}